<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<!--STRING DE CONEXAO COM O BANCO DE DADOS COM O NOME "CONN"--> 
        <add name="conn" connectionString="Data Source=DESKTOP-V07P09N;Initial Catalog=OperDay;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>